@import "variables";

.footer {
  // background-color: $col-b;
  @include linGradBg($col-a, $col-b);
  color: $col-b-on;
  padding: {
    top: $space * 4;
    bottom: $space * 4;
  }
}

.menu {
  margin: 0;
}
