@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,400,400i,700,700i&display=swap');
@import "variables";

body {
  background-color: $col-bg;
  color: $col-bg-on;
  font: 400 normal 1em $font-a;
}
