@import "variables";
.headerLogo {

    width: 150px;
    height: auto;
    margin-right: 20px;
  }
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(150, 125, 125, 0.774);
  }
  
