@import "variables";

.heroImag{
    width: 100%;
    height: auto;
  }
  
  .midheading{
    text-align: center;
    color: black;
    margin-top: 4em;
  }
  
  .midtext{
    margin: 1em 10em;
  }
  
  .program{
      margin-top: 2em;
  
  }
  
  