@import "variables";

.program{

        div{
                text-align: center;
                ul{
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
                        grid-gap: 20px;

                        li{
                                height: 50px;
                                width: 100%;
                                text-align: center;
                                display: grid;
                                place-items: center;

                                a{
                                        text-decoration: none;
                                        color: #fff;


                                        &:nth-child(1){
                                                color: #000;
                                        }
                                        .active{
                                                opacity: .5;
                                        }
                                }
                        }


                        li:nth-child(1){
                                background: #FFEC5D;
                        }
                        li:nth-child(2){
                                background: #F307B4;
                        }
                        li:nth-child(3){
                                background: #03188C;
                        }
                        li:nth-child(3) a{
                                color: #fff;
                        }
                }
        }

}



.heroImg {
width: 100%;
text-align: center;
}

.centerText {
margin: 1em;
text-align: center;
}

.formatRow {
text-align: center;
margin: 10px;
}


