// @import "variables";

// .program{
//         .landing-wrapper{
//                 img{
//                         width: 100%;
//                 }
//         }
//         .course-details{
//                 h1{
//                         text-align: center;
//                         padding: 30px 0;
//                 }
//                 ul{
//                         list-style: none;
//                         display: grid;
//                         grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//                         padding: 0;
//                         grid-gap: 20px;

//                         li{
//                                 height: 200px;
//                                 cursor: pointer;

//                                 a{
//                                         color: #fff;
//                                         text-decoration: none;
//                                         display: block;
//                                         width: 100%;
//                                         height: 100%;
//                                         display: grid;
//                                         place-items: center;
//                                 }
//                         }
//                         .first-li a{
//                                 background: #FFEC5D;
//                                 color: #000;
//                         }
//                         .second-li a{
//                                 background: #F307B4;
//                         }
//                         .third-li a{
//                                 background: #03188C;
//                         }

//                 }
//         }
// }