@import "variables";

.program{

        div{
                text-align: center;
                ul{
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
                        grid-gap: 20px;

                        a{
                                color: black;
                        }

                        a:nth-child(1){
                                background: #FFEC5D;
                        }
                        a:nth-child(2){
                                background: #F307B4;
                        }
                        a:nth-child(3){
                                background: #03188C;
                                color: #fff;
                        }

                        li{
                                height: 50px;
                                width: 100%;
                                text-align: center;
                                display: grid;
                                place-items: center;

                                a{
                                        text-decoration: none;
                                        color: #fff;
                                }
                        }
                }
        }

}

.active{
        opacity: .5;

}

.heroImg {
width: 100%;
text-align: center;
}

.centerText {
margin: 1em;
text-align: center;
}

.formatRow {
text-align: center;
margin: 10px;
}


